.homeDiv {
  width: 100%;
  height: 300px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  

}


.lastAddHome {
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.lastAddPHome {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.lastAddHomeGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
}
.lastAddHomeGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 2rem;
}



.homePictures {
  width: 22%;
  height: 230px;
  background-color: aqua;
  border-radius: 13px;

  position: relative;
  left: 25px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);

}

.pictureDescriptionHome {
  width: 22%;
  height: 210px;
  background-color: bisque;
  border-radius: 13px;
  box-shadow: 0px 0.2px 10px rgba(0, 0, 0, 0.5);
  
}

/*.lastAddHome {
  width: 100%;
  height: 340px;
  background-color: rgb(255, 255, 255);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 100px;
  padding-top: 20px;

}*/

.containerBoxHome {
  height: 140px;
  width: 250px;
  background-color: rgb(251, 255, 137);
  margin: 5px;
  border-bottom-left-radius: 0%;
  border-radius: 8px;
  border-bottom-left-radius: 0%;
  position: relative;
  left: 25px;


}


.miniTitle {
  margin-left: 200px;
  width: 100%;
}